[interactive]
	diffFilter = diff-so-fancy --patch
; [delta]
;   features = side-by-side line-numbers decorations
;   whitespace-error-style = 22 reverse
; [delta "decorations"]
;   commit-decoration-style = bold yellow box ul
;   file-style = bold yellow ul
;   file-decoration-style = none
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=2 -RFX
  fsmonitor = true
  untrackedCache = true
[mergetool]
	keepBackup = false
[feature]
  manyFiles = true
[push]
  default = current
[user]
	email = leo0924@protonmail.com
	name = Leo Hsieh
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
